
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@theme {
  --font-sans: "Outfit", sans-serif;
}
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
  display: none;             
}
 
}
@keyframes slideGradient {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px; 
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.fadeIn {
  animation: fadeIn 1.5s; 
}

.hr-animated {
  animation: slideGradient 3s linear infinite;
  
}



/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  display: flex;
} */